.building-map-wrapper {
	position: relative;
}
.building-map-wrapper .map-overlay {
	position: absolute;
	top: 0;
	z-index: 2;
}
/*.building-map-wrapper .nav-pills > li > a {
    background-color: white;
    color: black;
}*/
.building-map-wrapper .labels {
    font-size: 20px;
}
.building-map-wrapper .labels > span {
    position: absolute;
}

.mapify-hover {
    fill: rgba(0,255,0,0.25);
    stroke: #0f0;
    stroke-width: 1;
}

.floors-building > ul {
	list-style-type: none;
}
.floors-building > ul > li {
	width: 200px;
	background-color: #eee;
	border-bottom: 1px solid white;
	height: 20px;
	cursor: pointer;
}
.floors-building > ul > li.aviability {
	background-color: #aaa;
}
.floors-building > ul > li:hover {
	background-color: red;
}
.floors-building > ul > li.aviability:hover {
	background-color: green;
}
