.mapify-hover{
    fill: rgba(0,0,0,0.15);
    stroke: #fff;
    stroke-width: 2;
}
.floors-building > ul {
	list-style-type: none;
}
.floors-building > ul > li {
	width: 200px;
	background-color: #eee;
	border-bottom: 1px solid white;
	height: 20px;
	cursor: pointer;
}
.floors-building > ul > li.aviability {
	background-color: #aaa;
}
.floors-building > ul > li:hover {
	background-color: red;
}
.floors-building > ul > li.aviability:hover {
	background-color: green;
}
