.scheme {
	position: relative;
}
.scheme .point {
	position: absolute;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	padding: 1px 7px;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	border-color: white;
	border-width: 2px;
    color: white;
	background-color: red;
}
.scheme .point.aviability {
	background-color: green;
}
.scheme-property-info {
	border: 5px solid yellow;
	margin-left: 100px;
	padding: 10px;
}
.list-floors {
	max-width: 150px;
}