.scheme {
	position: relative;
	display: inline-block;
}
.scheme .point {
	position: absolute;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
	border-radius: 50%;
	padding: 1px 7px;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	margin-top: -12px;
	border-color: red;
    color: red;
}
.scheme .point.aviability {
	border-color: green;
    color: green;
}